In [13]:
import pandas as pd

df1 = pd.DataFrame([
    ["Andien", "P", 21, "Belum Menikah"],
    ["Raka", "L", 25, "Belum Menikah"],
    ["Bobby", "L", 23, "Sudah Menikah"]
])

df1.columns = ["Nama", "Jenis Kelamin", "Usia", "Status"]

df1

     Nama Jenis Kelamin  Usia         Status
0  Andien             P    21  Belum Menikah
1    Raka             L    25  Belum Menikah
2   Bobby             L    23  Sudah Menikah

In [15]:
print(df1['Nama'])
print(df1['Usia'])

0    Andien
1      Raka
2     Bobby
Name: Nama, dtype: object
0    21
1    25
2    23
Name: Usia, dtype: int64

In [21]:
df1.to_csv("anggota_koperasi_sukanabung.csv")
df1.to_excel("anggota_koperasi_sukanabung.xlsx")