In [1]:
import pandas as pd
import nltk
import re
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
paragraf = '''
Kita membutuhkan chatbot kesehatan mental.
Dia juga menyenangkan untuk diajak bicara.
Chatbot tidak akan pernah menggantikan terapi atau terapis.
'''

In [3]:
kalimat = nltk.sent_tokenize(paragraf)
tabel_kata = []
kalimat

['\nKita membutuhkan chatbot kesehatan mental.',
 'Dia juga menyenangkan untuk diajak bicara.',
 'Chatbot tidak akan pernah menggantikan terapi atau terapis.']

In [4]:
for i in range(len(kalimat)):
    kata = re.sub('[^a-zA-Z]', ' ', kalimat[i])
    kata = kata.lower()
    kata = kata.split()
    kata = ' '.join(kata)
    tabel_kata.append(kata)

In [5]:
tabel_kata

['kita membutuhkan chatbot kesehatan mental',
 'dia juga menyenangkan untuk diajak bicara',
 'chatbot tidak akan pernah menggantikan terapi atau terapis']

In [6]:
cv = CountVectorizer()
X = cv.fit_transform(tabel_kata).toarray()
X

array([[0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1],
       [1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0]],
      dtype=int64)

In [7]:
kata_kata = cv.get_feature_names()
bow = pd.DataFrame(X, columns=kata_kata)
bow

,akan,atau,bicara,chatbot,dia,diajak,juga,kesehatan,kita,membutuhkan,menggantikan,mental,menyenangkan,pernah,terapi,terapis,tidak,untuk
0,0,0,0,1,0,0,0,1,1,1,0,1,0,0,0,0,0,0
1,0,0,1,0,1,1,1,0,0,0,0,0,1,0,0,0,0,1
2,1,1,0,1,0,0,0,0,0,0,1,0,0,1,1,1,1,0

In [8]:
pd.DataFrame(kata_kata)

               0
0           akan
1           atau
2         bicara
3        chatbot
4            dia
5         diajak
6           juga
7      kesehatan
8           kita
9    membutuhkan
10  menggantikan
11        mental
12  menyenangkan
13        pernah
14        terapi
15       terapis
16         tidak
17         untuk

In [9]:
bow.sum()

akan            1
atau            1
bicara          1
chatbot         2
dia             1
diajak          1
juga            1
kesehatan       1
kita            1
membutuhkan     1
menggantikan    1
mental          1
menyenangkan    1
pernah          1
terapi          1
terapis         1
tidak           1
untuk           1
dtype: int64

In [10]:
bow.sum().sum()

19